.ag-header-cell.score .ag-header-cell-label {
    justify-content: center;
}

.dirty-dozen-score-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.dirty-dozen-score {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    font-weight: bolder;
    border: 1px solid black;
}

.dirty-dozen-score.pvp {
    background-color: #f06e6d;
}

.dirty-dozen-score.tyranids {
    background-color: #f8a95f;
}

.dirty-dozen-score.necron {
    background-color: #fafd5d;
}

.dirty-dozen-score.ork {
    background-color: #a0cc90;
}

.dirty-dozen-score.mortarion {
    background-color: #8babf8;
}

.dirty-dozen-score.screamer {
    background-color: #c86be6;
}
