.inventory-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px;
}

.inventory-items-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 20px;

    h2 {
        text-align: center;
    }
}
.inventory-items {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;

    .inventory-item {
        display: flex;
        flex-direction: column;
    }
}
.inventory-items-alphabet {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.letter {
    font-size: 30px;
    font-weight: bold;
}
