.faction {
    min-width: 375px;
    max-width: 525px;
}

.faction-title {
    color: white;
    margin-bottom: 0;
    margin-top: 5px;
    border-top: 2px solid gold;
    font-weight: 500;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .faction-icon {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .faction-value {
        display: flex;
        padding-inline-end: 5px;
    }

    .faction-power {
        display: flex;
        padding-inline-end: 5px;
    }
}

@media (max-width: 500px) {
    .faction {
        max-width: 375px;
    }
}
