$factionsCount: 17;

$columnCount5: 5;
$columnCount4: 4;
$columnCount3: 3;
$columnCount2: 2;

$maxWidth: 470;

@mixin responsiveGrid($columns, $maxWidth) {
    $roundedRows: ceil($factionsCount / $columns);
    @media (max-width: #{$maxWidth}px) {
        grid-template-rows: repeat(#{$roundedRows}, 1fr);
    }
}

.factions-grid {
    column-gap: 25px;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;

    /* 5 columns */
    $roundedRows5: ceil($factionsCount / $columnCount5);
    grid-template-rows: repeat(#{$roundedRows5}, 1fr);

    /* Media queries for different column configurations */
    @include responsiveGrid($columnCount4, $maxWidth * 5); /* 4 columns */
    @include responsiveGrid($columnCount3, $maxWidth * 4); /* 3 columns */
    @include responsiveGrid($columnCount2, $maxWidth * 3); /* 2 columns */

    /* 1 column */
    @media (max-width: 950px) {
        display: flex;
        flex-wrap: wrap;
    }
}
