@use 'sass:math';

$factionsCount: 19;

@mixin responsiveGrid($columns) {
    $roundedRows: math.ceil(calc($factionsCount / $columns));
    $maxWidth: 525 * ($columns + 1);
    @media (max-width: #{$maxWidth}px) {
        grid-template-rows: repeat(#{$roundedRows}, 1fr);
    }
}

.factions-grid {
    column-gap: 25px;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;

    /* Media queries for different column configurations */
    /* 5 columns */
    $roundedRows5: math.ceil(calc($factionsCount / 5));
    grid-template-rows: repeat(#{$roundedRows5}, 1fr);
     /* 4 columns */
    @include responsiveGrid(4);
     /* 3 columns */
    @include responsiveGrid(3);
     /* 2 columns */
    @include responsiveGrid(2);
    /* 1 column */
    @media (max-width: 950px) {
        display: flex;
        flex-wrap: wrap;
    }
}
