html,
body,
#root {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.flex-row {
    display: flex;
    align-items: center;
}

.alpha {
    background-color: #93c47d;
}

.beta {
    background-color: #c9daf8;
}

.gamma {
    background-color: #fce5cd;
}

.stone1 {
    background-color: #cdb3a0;
}

.stone2 {
    background-color: #b09a8a;
}

.stone3 {
    background-color: #8c827a;
}

.iron1 {
    background-color: #d9ead3;
}

.iron2 {
    background-color: #b6d7a8;
}

.iron3 {
    background-color: #93c47d;
}

.bronze1 {
    background-color: #f9cb9c;
}

.bronze2 {
    background-color: #f6b26b;
}

.bronze3 {
    background-color: #e69138;
}

.silver1 {
    background-color: #efefef;
}

.silver2 {
    background-color: #d9d9d9;
}

.silver3 {
    background-color: #cccccc;
}

.gold1 {
    background-color: #ffe599;
}

.gold2 {
    background-color: #ffd966;
}

.gold3 {
    background-color: #f1c232;
}

.diamond1 {
    background-color: #cfe2f3;
}

.diamond2 {
    background-color: #9fc5e8;
}

.diamond3 {
    background-color: #6fa8dc;
}

.ag-theme-material {
    --ag-grid-size: 5px;
    --ag-row-hover-color: transparent;
    --ag-colum-hover-color: transparent;

    .ag-cell-wrap-text {
        word-break: unset;
        white-space: break-spaces;
    }

    &.auto-teams {
        .ag-header-cell {
            padding: 0;
        }
    }
}

.common {
    background-color: #cdb3a0;
}

.uncommon {
    background-color: #f9cb9c;
}

.rare {
    background-color: #efefef;
}

.epic {
    background-color: #ffe599;
}

.legendary {
    background-color: #cfe2f3;
}

.upgrade {
    background-color: #012a41;
}

.common-upgrade {
    border: 2px solid #cdb3a0;
}

.uncommon-upgrade {
    border: 2px solid #f9cb9c;
}

.rare-upgrade {
    border: 2px solid #efefef;
}

.epic-upgrade {
    border: 2px solid #ffe599;
}

.legendary-upgrade {
    border: 2px solid #cfe2f3;
}

.flex-box {
    display: flex;
    align-items: center;

    &.column {
        flex-direction: column;
    }

    &.start {
        align-items: flex-start;
    }

    &.wrap {
        flex-wrap: wrap;
    }

    &.between {
        justify-content: space-between;
    }

    &.full-width {
        width: 100%;
    }

    @for $i from 1 through 20 {
        &.gap#{$i} {
            gap: #{$i}px;
        }
    }

    @for $i from 1 through 10 {
        &.p#{$i} {
            padding: #{$i}px;
        }
    }
}
