.guild-war-layout-grid {
    column-gap: 5px;
    row-gap: 10px;
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
    margin-top: 10px;

    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(3, minmax(180px, 400px));

    @media (max-width: 800px) {
        grid-template-columns: repeat(3, minmax(33%, 400px));
    }
}
